---
import Layout from '../layouts/BlogPost.astro';
import { SITE_AUTHOR } from '../consts';
---

<Layout
	title="about"
	author={SITE_AUTHOR}
	description="Lorem ipsum dolor sit amet"
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		A curated list of old books that I enjoy reading.
	</p>
</Layout>
